/* PALETTE */

:root {
	--black: #000000;
	--white: #ffffff;
	--gray-onyx: #444444;
 	--gray-light: #cbc9cc;
  	--gray-gainsboro: #dadada;
  	--gray-cultured: #eceaed;
	//
	--prj-color-bg: var(--gray-cultured);
	--prj-color-text: var(--black);
}